/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
} */

@import '~antd/dist/antd.css';


/* #components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
} */

.ant-layout-header {
  background: #fff;
}

.site-layout-content {
  /* background: #fff; */
  max-width: 980px;
  min-height: 280px;
}
.logo {
  /* width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);*/
  margin-left: -20px;
  float: left;
  font-weight: bold;
  font-size: 20px;
}
.ant-tabs-nav-list {
  width: 100%;
}

.ant-tabs-nav {
  margin: 0;
}

.ant-tabs-tab {
  padding: 12px 13%;
  width: 33%;
  margin: 0;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

